.gradle
gradle
.idea
*.impl
*.iml
*.log
*.bak
*.class
logs/*
build/*
account/build/
common/build/
consensus/build/
core/build/
core/out/
crypto/build/
crypto/out/
p2p/build/
slice/build/
storage/build/
storage/out/
out/*
slice/src/main/java/
slice/src/main/grpc/
core/db-01/
core/database/
slice/src/main/java/
database/
testdb/

out
core/config
core/blockchain
